/* ==========================================
   FREEFIREXIPL V2 - GLOBAL STYLES
========================================== */

body{

    background:
    radial-gradient(circle at top,
    #2c0900 0%,
    #120000 35%,
    #000000 75%,
    #000000 100%);

    color:var(--white);

    font-family:Arial,Helvetica,sans-serif;

    overflow-x:hidden;

    min-height:100vh;

    background-attachment:fixed;

}

/* Container */

.container{
    width: 92%;
    max-width: 1400px;
    margin: auto;
}

/* Section */

section{
    padding: 100px 0;
}

/* Headings */

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

p{
    color: var(--gray);
    line-height: 1.8;
}

/* Selection */

::selection{
    background: var(--primary);
    color:#fff;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(var(--primary),var(--secondary));
    border-radius:50px;
}

::-webkit-scrollbar-thumb:hover{
    background:var(--secondary);
}